<div class="container">
  <div class="row row-cols-2">
    <div class="col-6 d-flex justify-content-end">
      <select name="countryFrom" id="select-country" [(ngModel)]="fromSymbol">
        <option *ngFor="let rate of fromRates" [value]="rate">{{ rate }}</option>
      </select>
    </div>
    <div class="col-6">
      <input type="text" name="currencyFrom" id="ammount" [(ngModel)]="fromValue">
    </div>
    <div class="col-6 d-flex justify-content-end">
      <select name="countryTo" id="select-country" [(ngModel)]="toSymbol">
        <option *ngFor="let rate of toRates" [value]="rate">{{ rate }}</option>
      </select>
    </div>
    <div class="col-6">
      <input type="text" name="currencyTo" id="ammount" [(ngModel)]="toValue">
    </div>
  </div>
</div>