.col-6 {
    margin: .5em 0;
}

input {
    width: 20vw;
    height: 5vh;
}

select {
    width: 20vw;
    text-align: center;
    font-size: large;
}

@media screen and (max-width: 426px) {
    input {
            width: 90%;
            height: 7vh;
        }
    
        select {
            width: 90%;
            text-align: center;
            font-size: large;
        }
}